body {
    font-family: Comic Sans MS;
    margin: 0;
    overflow: hidden;
    background-color: aquamarine;
}

.title{
    text-align: center;
    width: 100%;
}

#button{
margin-bottom: 20px;
width: 200px;
font-family: Comic Sans MS;
}

canvas {
    border: 1px solid #000;
    margin-left: 150px;
    background-color: bisque;
}